# Git
.git
.gitignore

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc

# Virtual Environments
env/
venv/
.venv/
lostfoundenv/

# Local Database
db.sqlite3

# Django staticfiles directory
staticfiles/